---
import ExpressIcon from "../components/icons//express.astro";
import RustIcon from "../components/icons//rust.astro";
import TypescriptIcon from "../components/icons//typescript.astro";
import Github from "../components/icons//github.astro";
import Next from "../components/icons//next.astro";
import NestJs from "../components/icons//nestjs.astro";
import Prisma from "../components/icons//prisma.astro";
import Turso from "../components/icons//turso.astro";
import Typeorm from "../components/icons//typeorm.astro";
import Docker from "../components/icons//docker.astro";
import Postgres from "../components/icons//postgres.astro";
import LinkButton from "../components/LinkButton.astro";

const TAGS = {
  RUST: {
    name: "Rust Lang",
    icon: RustIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypescriptIcon,
  },
  EXPRESS: {
    name: "Express",
    icon: ExpressIcon,
  },
  NEXT: {
    name: "Next.js",
    icon: Next,
  },
  NESTJS: {
    name: "NestJS",
    icon: NestJs,
  },
  PRISMA: {
    name: "Prisma",
    icon: Prisma,
  },
  TURSO: {
    name: "Turso",
    icon: Turso,
  },
  TYPEORM: {
    name: "TypeORM",
    icon: Typeorm,
  },
  DOCKER: {
    name: "Docker",
    icon: Docker,
  },
  POSTGRES: {
    name: "Postgres SQL",
    icon: Postgres,
  },
};

const PROJECTS = [
  {
    title: "Bundle - Administrador de Tareas en RUST",
    description:
      "Bundle ofrece componentes visuales como monitores de CPU, RAM, lista de procesos y detalles de procesos individuales.",
    github: "https://github.com/sdilonedev/bundle",
    image: "/projects/bundle.webp",
    tags: [TAGS.RUST],
  },
  {
    title: "Tidy - Acortador de URL",
    description:
      "Tidy es un acortador de URLs que permite crear enlaces personalizados, gestionar estadísticas de clics y dispositivos, y optimizar el intercambio de enlaces de forma sencilla.",
    github: "https://github.com/sdilonedev/tidy",
    image: "/projects/tidy.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.NEXT, TAGS.PRISMA, TAGS.TURSO],
  },
  {
    title: "Courier - API REST con NestJS",
    description:
      "Courier es una API REST que permite gestionar envíos de paquetes y rastrear su estado en tiempo real.",
    github: "https://github.com/sdilonedev/courier",
    image: "/projects/courier.webp",
    tags: [
      TAGS.TYPESCRIPT,
      TAGS.NESTJS,
      TAGS.TYPEORM,
      TAGS.DOCKER,
      TAGS.POSTGRES,
    ],
  },
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/3">
          <div class="relative flex flex-col items-center gap-8 col-span-6 row-span-5 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-semibold text-blue-300">{title}</h3>

          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap gap-x-2 mb-2">
              {tags.map((tag) => (
                <li class="mb-2">
                  <span class="flex gap-x-2 rounded-full text-xs bg-gray-800 border border-gray-600 py-1 px-2">
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400 font-quicksand">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github} class="font-quicksand">
                  <Github class="size-6" />
                  Ver código fuente
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</section>
